body {
  background-color: aqua;
  text-align: center;
}
a{
  text-align: center;
}
p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: black;
}


.links{
  float:left;
}


a:visited{
  color:red;
}

a{
  color: black;
}

a:hover{
  color: purple;
}


img{
  width: 700px;
  height: 500px;
}

table{
  margin: 0px auto;
}
.haha{
  width: 800px;
  height: 70px;
}
.ehe{
  width: 800px;
  height:400px;
}